.task-item {
    cursor: default;
    display: inline-flex;
    width: 100%; 
    text-align: start;
    font: inherit;
    height: 4rem;
    padding: 1rem;
    border: 0.15rem #242424 solid;
    background-color: #2b2b2b;

    &:hover {
        background-color: #3b3b3b;
    }
    

    &.isFinished {
        text-decoration: line-through;
        color: darkgray;
    }

    .task-item-title {
        flex-grow: 5;
    }

    .task-item-checkbox {
        display: inline-flex;
        width: 2rem;

        input {
            height: 1rem;
            width: 1rem;
        }
    }

    .task-item-tags {
        flex-grow: 1;
        max-width: 20rem;
        min-width: 10rem;
        display: inline-flex;
        justify-content: end;
    }
}