.task-list {
    margin: 0.75rem 0;

    button.task-list-button {
        margin-bottom: 0.5rem;
        display: flex;
        height: 2.5rem;
        width: 12rem;

        justify-content: space-between;

        .task-list-button-triangle {
            &.showTasks {
                transform: rotate(90deg);
            }
        }
    }
}